html, body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: block;
    background-image: url("images/bg.jpg");
    overflow: hidden;

}

#startGame {
    position: absolute;
    top: 35%; 
    left: 30%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}